[workspace]
channels = ["conda-forge"]
name = "lfortran"
platforms = ["linux-64","win-64", "osx-64", "osx-arm64"]
version = "0.60.0-281-g56664128f-dirty"
description = "Modern interactive LLVM-based Fortran compiler"

[tasks]

[dependencies]

[feature.unix.target.linux-64.activation]
scripts = ["setvars.sh"]

[feature.windows.target.win-64.activation]
scripts = ["setvars.bat"]

[feature.unix]
platforms = ["linux-64"]
channels = ["conda-forge"]

[feature.unix.target.linux-64.dependencies]
llvmdev = "==21.1.2"
toml = ">=0.10.2,<0.11"
pytest = ">=9.0.2,<10"
jupyter = ">=1.1.1,<2"
xeus = ">=5.2.8,<6"
xeus-zmq = ">=3.1.2,<4"
nlohmann_json = ">=3.12.0,<4"
jupyter_kernel_test = ">=0.7.0,<0.8"
re2c = ">=4.4,<5"
numpy = ">=2.4.2,<3"
bison = ">=3.8.2,<4"
rapidjson = ">=1.1.0.post20240409,<2"
ninja = ">=1.13.2,<2"
pandoc = ">=3.9,<4"
kokkos = ">=4.7.1,<5"
cmake = ">=3.29.1,<4"
zlib = ">=1.3.1,<2"
zstd-static = ">=1.5.7,<2"
shell = ">=0.2.0,<0.3"
libunwind = ">=1.8.3,<2"

[feature.unix.target.linux-64.tasks]
ci = { cmd = "./ci/build.sh", cwd = "../../" }

[feature.windows]
platforms = ["win-64"]
channels = ["conda-forge"]

[feature.windows.target.win-64.dependencies]
llvmdev = "==21.1.2"
toml = ">=0.10.2,<0.11"
pytest = ">=9.0.2,<10"
jupyter = ">=1.1.1,<2"
xeus = ">=5.2.8,<6"
xeus-zmq = ">=3.1.2,<4"
nlohmann_json = ">=3.12.0,<4"
jupyter_kernel_test = ">=0.7.0,<0.8"
xonsh = ">=0.22.4,<0.23"
re2c = ">=4.4,<5"
numpy = ">=2.4.2,<3"
ninja = ">=1.13.2,<2"
m2-bison = ">=3.0.4,<4"
git = ">=2.53.0,<3"
cmake = ">=4.2.3,<5"
zlib = ">=1.3.1,<2"

[environments]
unix = { features = ["unix"], no-default-feature = true }
windows = { features = ["windows"], no-default-feature = true }
