[workspace]
channels = ["conda-forge"]
name = "lfortran"
platforms = ["linux-64","win-64", "osx-64", "osx-arm64"]
version = "0.60.0-285-g879c4733a-dirty"
description = "Modern interactive LLVM-based Fortran compiler"

[tasks]

[dependencies]

[feature.unix]
platforms = ["linux-64"]
channels = ["conda-forge"]

[feature.unix.target.linux-64.activation]
scripts = ["setvars.sh"]

[feature.unix.target.linux-64.dependencies]
toml = "0.10.2.*"
pytest = "8.1.1.*"
jupyter = "1.0.0.*"
xeus = "5.1.0.*"
xeus-zmq = "3.0.0.*"
nlohmann_json = "3.11.3.*"
jupyter_kernel_test = "0.7.0.*"
re2c = "3.1.*"
numpy = "1.26.4.*"
bison = "3.4.*"
rapidjson = "1.1.0.*"
ninja = "1.11.1.*"
pandoc = "3.1.13.*"
kokkos = "4.4.1.*"
cmake = "3.29.1.*"
zlib = "1.3.1.*"
shell = "0.2.0.*"
libunwind = "1.7.2.*"
zstd-static = "1.5.7.*"
llvmdev = "==21.1.2"

[feature.unix.target.linux-64.tasks]
ci = { cmd = "./ci/build.sh", cwd = "../../" }

[feature.windows]
platforms = ["win-64"]
channels = ["conda-forge"]

[feature.windows.target.win-64.activation]
scripts = ["setvars.bat"]

[feature.windows.target.win-64.dependencies]
toml = "*"
pytest = "*"
jupyter = "*"
xeus = "5.1.0.*"
xeus-zmq = "3.0.0.*"
nlohmann_json = "3.11.3.*"
jupyter_kernel_test = "*"
xonsh = "0.16.0.*"
re2c = "*"
numpy = "*"
ninja = "*"
m2-bison = "3.0.4.*"
git = "*"
cmake = "4.2.1.*"
zlib = "*"
llvmdev = "==21.1.2"

[environments]
unix = { features = ["unix"], no-default-feature = true }
windows = { features = ["windows"], no-default-feature = true }

