[workspace]
name = "lfortran"
version = "0.42.0"
description = "Modern interactive LLVM-based Fortran compiler"
authors = ["LFortran Maintainers <lfortran@groups.io>"]
channels = ["conda-forge"]
platforms = ["linux-64", "win-64", "linux-aarch64"]

# feature.default.tasks
[tasks]
start = "src/bin/lfortran"
clean = "git clean -dfx -e '.pixi'"

[feature.test.tasks]
ctest = "cmake --build . --parallel --target test"
tests = "./run_tests.py"
integration_tests = "cd integration_tests && ./run_tests.py -j16"

[feature.llvm7.target.linux-64.dependencies]
llvmdev = ">=7.0.1,<8"
[feature.llvm7.target.win-64.dependencies]
llvmdev = ">=7.0.1,<8"
[feature.llvm8.target.linux-64.dependencies]
llvmdev = ">=8.0.1,<9"
[feature.llvm8.target.win-64.dependencies]
llvmdev = ">=8.0.1,<9"
[feature.llvm9.dependencies]
llvmdev = ">=9.0.1,<10"
[feature.llvm10.dependencies]
llvmdev = ">=10.0.1,<11"
[feature.llvm11.dependencies]
llvmdev = ">=11.1.0,<12"
[feature.llvm12.dependencies]
llvmdev = ">=12.0.1,<13"
[feature.llvm13.dependencies]
llvmdev = ">=13.0.1,<14"
[feature.llvm14.dependencies]
llvmdev = ">=14.0.6,<15"
[feature.llvm15.dependencies]
llvmdev = ">=15.0.7,<16"
[feature.llvm16.dependencies]
llvmdev = ">=16.0.6,<17"
[feature.llvm17.dependencies]
llvmdev = ">=17.0.6,<18"
[feature.llvm18.dependencies]
llvmdev = ">=18.1.8,<19"
[feature.llvm19.dependencies]
llvmdev = ">=19.1.4,<20"
clang = ">=19.1.4,<20"
[feature.llvm20.dependencies]
llvmdev = ">=20.1.8,<21"
[feature.llvm21.dependencies]
llvmdev = ">=21.1.2,<22"
clang = ">=21.1.2,<22"

[feature.llvm12.target.linux-64.dependencies]
libunwind = ">=1.8.3,<2"
[feature.llvm12.target.linux-aarch64.dependencies]
libunwind = ">=1.8.3,<2"

[feature.llvm13.target.linux-64.dependencies]
libunwind = ">=1.8.3,<2"
[feature.llvm13.target.linux-aarch64.dependencies]
libunwind = ">=1.8.3,<2"

[feature.llvm14.target.linux-64.dependencies]
libunwind = ">=1.8.3,<2"
[feature.llvm14.target.linux-aarch64.dependencies]
libunwind = ">=1.8.3,<2"

[feature.llvm15.target.linux-64.dependencies]
libunwind = ">=1.8.3,<2"
[feature.llvm15.target.linux-aarch64.dependencies]
libunwind = ">=1.8.3,<2"

[feature.llvm16.target.linux-64.dependencies]
libunwind = ">=1.8.3,<2"
[feature.llvm16.target.linux-aarch64.dependencies]
libunwind = ">=1.8.3,<2"

[feature.llvm17.target.linux-64.dependencies]
libunwind = ">=1.8.3,<2"
[feature.llvm17.target.linux-aarch64.dependencies]
libunwind = ">=1.8.3,<2"

[feature.llvm18.target.linux-64.dependencies]
libunwind = ">=1.8.3,<2"
[feature.llvm18.target.linux-aarch64.dependencies]
libunwind = ">=1.8.3,<2"

[feature.llvm19.target.linux-64.dependencies]
libunwind = ">=1.8.3,<2"
[feature.llvm19.target.linux-aarch64.dependencies]
libunwind = ">=1.8.3,<2"

[feature.llvm20.target.linux-64.dependencies]
libunwind = ">=1.8.3,<2"
[feature.llvm20.target.linux-aarch64.dependencies]
libunwind = ">=1.8.3,<2"

[feature.llvm21.target.linux-64.dependencies]
libunwind = ">=1.8.3,<2"
[feature.llvm21.target.linux-aarch64.dependencies]
libunwind = ">=1.8.3,<2"

# Dependencies to build the project to be installed for the target architecture.
# host == target
[feature.build.dependencies]
pytest = ">=9.0.2,<10"
jupyter = ">=1.1.1,<2"
xeus = ">=5.2.8,<6"
xeus-zmq = ">=3.1.2,<4"
nlohmann_json = ">=3.12.0,<4"
jupyter_kernel_test = ">=0.7.0,<0.8"
numpy = ">=2.4.2,<3"
rapidjson = ">=1.1.0.post20240409,<2"
zlib = "*"
zstd-static = ">=1.5.6,<2"
python = ">=3.12,<3.13"
cmake = ">=3.29,<5"
ninja = ">=1.13.2,<2"
re2c = ">=4.4,<5"

# Dependencies to build the project to be installed on the build machine.
# feature.default.dependencies
[dependencies]
python = ">=3.12.0,<3.13"
c-compiler = ">=1.11.0,<2"
cxx-compiler = ">=1.11.0,<2"
toml = ">=0.10.2,<0.11"

[feature.test.dependencies]
python = ">=3.12,<3.14"
toml = ">=0.10.2,<0.11"
cmake = ">=3.29,<5"
ninja = ">=1.13.2,<2"

[feature.build.target.unix.dependencies]
bison = "==3.4"

[feature.build.target.win.dependencies]
m2-bison = "==3.0.4"

[feature.build.target.linux-64.dependencies]
bison = ">=3.8.2,<4"

[feature.build.target.win-64.dependencies]
m2-bison = ">=3.0.4,<4"

[feature.build.target.linux-aarch64.dependencies]
bison = ">=3.8.2,<4"

[feature.build.tasks]
build = "bash ./build1.sh"

[environments]
llvm7 = {features = ["llvm7", "build"]}
llvm8 = {features = ["llvm8", "build"]}
llvm9 = {features = ["llvm9", "build"]}
llvm10 = {features = ["llvm10", "build"]}
llvm11 = {features = ["llvm11", "build"]}
llvm12 = {features = ["llvm12", "build"]}
llvm13 = {features = ["llvm13", "build"]}
llvm14 = {features = ["llvm14", "build"]}
llvm15 = {features = ["llvm15", "build"]}
llvm16 = {features = ["llvm16", "build"]}
llvm17 = {features = ["llvm17", "build"]}
llvm18 = {features = ["llvm18", "build"]}
llvm19 = {features = ["llvm19", "build"]}
llvm20 = {features = ["llvm20", "build"]}
llvm21 = {features = ["llvm21", "build"]}
test = {features = ["test"]}
