[workspace]
name = "lfortran"
version = "0.60.0"
description = "Modern interactive LLVM-based Fortran compiler"
authors = ["LFortran Maintainers <lfortran@groups.io>"]
channels = ["conda-forge"]
platforms = ["linux-64","win-64"]

[tasks]
start = "src/bin/lfortran"
clean = { cmd = "bash clean.sh", cwd = "." }
build0 = { cmd = "bash build0.sh", cwd = "." }
build1 = { cmd = "bash build1.sh", depends-on = "build0" }
ci = { cmd = "bash ci/build.sh", cwd = ".", depends-on = "clean"  }
build_release = { cmd = "bash build_release.sh", cwd = ".", depends-on = "clean" }
gencondapkg = { cmd = "rattler-build --build recipe.yaml", cwd = "." }

[feature.envwin.target.win-64.tasks]
build1 = "./build0.bat && ./build1.bat"

[feature.envtest.tasks]
ctest = "cmake --build . --parallel --target test"
#tests = "./run_tests.py"
integration_tests = { cmd = "./run_tests.py -j16", cwd = "integration_tests"}

[target.linux-64.activation]
scripts = ["setvars.sh"]

[feature.envwin.target.win-64.activation]
scripts = ["setvars.bat"]

[dependencies]
python = ">=3.12,<3.13"
toml = ">=0.10.2,<0.11"
pytest = ">=8.1.1,<9.0"
jupyter = ">=1.0.0,<2.0"
nbconvert = ">=7.4.0,<8.0"
xeus = ">=5.1.0,<6.0"
xeus-zmq = ">=3.0.0,<4.0"
nlohmann_json = ">=3.11.3,<4.0"
jupyter_kernel_test = ">=0.7.0,<1.0"
re2c = ">=3.1,<4"
numpy = ">=1.26.4,<2"
ninja = ">=1.11.1,<2"
rapidjson = ">=1.1.0,<2"
cmake = ">=3.29.1,<4"
shell = ">=0.2.0,<1.0"
zlib = ">=1.3.1,<2"
pandoc = ">=2.19.2,<3"
kokkos = ">=4.7.1,<5"
llvmdev = "==21.1.2"
clang = ">=21.1.2,<22"

[feature.envwin.target.win-64.dependencies]
xonsh = ">=0.22.3,<0.23"
m2-bison = ">=3.0,<3.5"

[target.linux-64.dependencies]
bison = ">=3.4,<3.5"
m4 = ">=1.4.21,<2"
libunwind = "==1.7.2"
zstd-static = ">=1.5.7,<2"

[feature.envdocs.pypi-dependencies]
toml = ">=0.10.2,<0.11"
jupyter = ">=1.0.0,<2.0"
nbconvert = ">=7.4.0,<8.0"
nlohmann_json = ">=3.11.3,<4.0"
jupyter_kernel_test = ">=0.7.0,<1.0"
numpy = ">=1.26.4,<2"
ninja = ">=1.11.1,<2"
nbsphinx = "~=0.8.9"
myst-parser = "~=0.18.0"
sphinx = "~=4.5.0"
sphinx-copybutton = "~=0.5.0"
lxml = "*"
unidecode = ">=1.4.0,<2.0.0"
text-unidecode = "*"
python-slugify = ">=8.0.1,<8.1.0"
sphinx-material="==0.0.35"

[feature.envdocs.target.win-64.dependencies]
python = "~=3.12"

[feature.envdocs.target.linux-64.dependencies]
python = "~=3.12"


[environments]
envtest = {features = ["envtest"]}
envwin = { features = ["envwin"] }
envdocs = { features = ["envdocs"], no-default-feature = true }
